<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SwáSthya Yôga Personal Trainer - Natalia Sanmartín Gil</title>
</head>
<body style="margin: 0; padding: 0; background-color: #878c80; background-image: url(images/body-bg.jpg); background-repeat: repeat;" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<!--100% body table-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#d8e7ea" style="background-color: #878c80; background-image: url(images/body-bg.jpg); background-repeat: repeat;">
            <!--header text -->
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table id="top" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="middle" align="center" height="60"> <em>
                                    <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #bfc1ae; margin: 0; padding: 0;">*|LIST:DESCRIPTION|*<br/>
                                      Tenés problemas para ver este mail? <a href="http://nat-personal-trainer.heroku.com/20110421" target="_blank" style="color:#bfc1ae; text-decoration: underline;">Abrir en un navegador</webversion>
                                    </p>
                                    </em> </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/header text-->
            <!--intro-->
            <table bgcolor="#d4d2c5" background="images/full-bg-top.jpg" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="15" height="147"><img style="margin: 0; padding: 0; display: block;" src="images/left-top-curl.jpg" width="15" height="147"></td>
                    <td valign="top" height="100">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="350" height="23"></td>
                                <td width="52"></td>
                                <td width="120"></td>
                                <td width="48"></td>
                            </tr>
                            <tr>
                                <td valign="top" height="124" background="images/top-intro-bg.jpg" bgcolor="#dd2d1d">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="30"></td>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td width="20">&nbsp;</td>
                                            <td valign="top">
                                                <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #f1f6dd; text-shadow: -1px -1px 1px #a10e08; font-size: 36px;">INVERTÍ EN VOS</h1>
                                                <em>
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 13px; margin: 0; padding: 0; color:#e7edcf;">El año empezó con todo. Preparáte para dar lo mejor.</p>
                                                </em> </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top"> <img style="margin: 0; padding: 0; display: block;" src="images/bracket-red.png"> </td>
                                <td valign="top">
                                    <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td valign="top" height="12" align="center"></td>
                                        </tr>
                                        <tr>
                                            <td  height="30" align="center">
                                                <table width="27" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" align="center" height="27" bgcolor="transparent" background="images/estrella.png">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="3"></td>
                                                                </tr>
                                                            </table>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #FFF; margin-bottom: 0px; margin-top: 0px; padding: 0px; -webkit-text-size-adjust: none; clear: both;">
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom" height="19" align="center"><img style="margin: 0; padding: 0;" src="images/ornament.gif" width="76" height="19"> </td>
                                        </tr>
                                        <tr>
                                            <td height="20" align="center">
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color: #9c9e93; margin-bottom: 0px; margin-top: 0px; padding: 0px; text-shadow: 1px 1px 1px #FFFFFF; -webkit-text-size-adjust: none; clear: both;">
                                                    Instructora<br/><b>Natalia<br/>Sanmartín Gil</b>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="right" valign="top"><img style="margin: 0; padding: 0; display: block;" src="images/bracket-green.png" width="48" height="124"></td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="15" height="147"><img style="margin: 0; padding: 0; display: block;" src="images/right-top-curl.jpg" width="15" height="147"></td>
                </tr>
            </table>
            <!--/intro-->
            <!--content section-->
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="15"> <img style="margin: 0; padding: 0; display: block;" src="images/left-curl-part-1.jpg" width="15" height="56"></td>
                    <td background="images/full-bg.jpg" bgcolor="#d4d2c5" valign="top">
                        <table width="569" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" width="30">
                                    <table width="20" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="27"></td>
                                        </tr>
                                        <tr>
                                            <td><img style="margin: 0; padding: 0; display: block;" src="images/left-curl-part-2.gif" width="12" height="28"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table width="514" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="23"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #de2d1d; font-size: 24px; text-shadow: 1px 1px 1px #FFFFFF;">Fuerza, poder, energía: el <span style="font-weight: bolder">SwáSthya</span><br/>tiene lo que necesitás.</h1>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="15"></td>
                                                    </tr>
                                                </table>
                                                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin: 0; padding: 0; color:#757870; font-weight: normal;">Una propuesta que incluye reeducación respiratoria y administración del estrés, con técnicas corporales intensas pero agradables que mejoran el tono muscular y la flexibilidad, además de herramientas para  perfeccionar la descontracción a través del relax,  y otras que aumentan la concentración mental.</p>
                                                <!--break-->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                </table>
                                                <!--/break-->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" height="10" align="center"><img style="margin: 0; padding: 0; display: block;" src="images/line-break.gif" width="514" height="5"></td>
                                                    </tr>
                                                </table>
                                                <img style="margin: 0; padding: 0; display: block;" src="images/foto1.png" width="514" height="240">

                                                <!--/break-->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" height="10" align="center"><img style="margin: 0; padding: 0; display: block;" src="images/line-break.gif" width="514" height="5"></td>
                                                    </tr>
                                                </table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; color:#757870; font-weight: normal;">
<tr>
<td width="20" height='40'><img style="margin: 0; padding: 0;" src="images/li.gif" width="15" height="12"></td>
<td>Clases personalizadas, con las técnicas de SwáSthya aplicadas a tus objetivos.</td>
</tr>
                                                    <tr>
                                                        <td colspan="2" valign="top" height="10" align="center"><img style="margin: 0; padding: 0; display: block;" src="images/line-break.gif" width="514" height="5"></td>
                                                    </tr>
<tr>
<td width="20" height='55'><img style="margin: 0; padding: 0;" src="images/li.gif" width="15" height="12"></td>
<td>Prácticas a domicilio, individuales y para grupos reducidos.  Horarios flexibles, a combinar según tu disponibilidad.</td>
</tr>
                                                    <tr>
                                                        <td colspan="2" valign="top" height="10" align="center"><img style="margin: 0; padding: 0; display: block;" src="images/line-break.gif" width="514" height="5"></td>
                                                    </tr>
<tr>
<td width="20" height='55'><img style="margin: 0; padding: 0;" src="images/li.gif" width="15" height="12"></td>
<td>Para recibir una cotización y agendar una entrevista personal, contactános respondiendo este email o escribiendo a <a href="mailto:natalia@yogaenmartinez.com.ar" style="color: #de2d1d;">natalia@YogaenMartinez.com.ar</a></td>
</tr>
                                                    <tr>
                                                        <td colspan="2" valign="top" height="10" align="center"><img style="margin: 0; padding: 0; display: block;" src="images/line-break.gif" width="514" height="5"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                            <tr>
                                <td background="images/full-bg.jpg" bgcolor="#d4d2c5" width="348">
                                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #de2d1d; font-size: 24px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="background-color: none;" bgcolor="" valign="top" width="15">&nbsp;</td>
                </tr>
            </table>
            <!--/content section-->
            <!--content section-->
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="15"> <img style="margin: 0; padding: 0; display: block;" src="images/left-curl-part-1.jpg" width="15" height="56"></td>
                    <td background="images/full-bg.jpg" bgcolor="#d4d2c5" valign="top" style="background-position: 0% 100%;">
                        <table width="569" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" width="30">
                                    <table width="20" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="27"></td>
                                        </tr>
                                        <tr>
                                            <td><img style="margin: 0; padding: 0; display: block;" src="images/left-curl-part-2.gif" width="12" height="28"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table width="514" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="23"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #de2d1d; font-size: 24px; text-shadow: 1px 1px 1px #FFFFFF;">Natalia Sanmartín Gil</h1>
                                                <!--break-->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="15"></td>
                                                    </tr>
                                                </table>
                                                <!--/break-->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="42%" valign="top"><img style="margin: 0; padding: 0; display: block;" src="images/foto2.png" width="198" height="199"></td>
                                                        <td width="58%" valign="top">
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin: 5px 0; padding: 0; color:#757870; font-weight: normal; text-align: justify;">Es instructora de SwáSthya desde el año 2002. Su monitor es el Maestro Edgardo Caramella, y su supervisor, DeRose.</p>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin: 5px 0; padding: 0; color:#757870; font-weight: normal; text-align: justify;">Entre los años 2002-2003 trabajó en la escuela de la Profesora Rosângela de Castro, en Rio de Janeiro (Brasil). Desde el 2003 hasta el 2009, formó parte del equipo de la Sede Recoleta en Argentina.</p>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin: 5px 0; padding: 0; color:#757870; font-weight: normal; text-align: justify;">Se especializó en coreografías, llegando a tener el nivel de Demostradora Internacional. Ha participado del Programa de SwáSthya en las Empresas. Tiene, además, vasta experiencia como Personal Yôga Trainer.</p>
                                                            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; margin: 5px 0; padding: 0; color:#757870; font-weight: normal; text-align: justify;">Actualmente se encuentra dedicada a la apertura de una nueva escuela en la zona norte del GBA.<br/>
<a href="http://www.yogaenmartinez.com.ar" style="color: #de2d1d;">www.YogaenMartinez.com.ar</a></p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--break-->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                </table>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="top" height="10" align="center"><img style="margin: 0; padding: 0; display: block;" src="images/line-break.gif" width="514" height="5"></td>
                                                    </tr>
                                                </table>

                                                <!--/break-->
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                            <tr>
                                <td background="images/full-bg.jpg" bgcolor="#d4d2c5" width="348">
                                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #de2d1d; font-size: 24px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="background-color: none;" bgcolor="" valign="top" width="15">&nbsp;</td>
                </tr>
            </table>
            <!--/content section-->
            <!--content section-->
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="15"></td>
                    <td background="images/full-bg.jpg" bgcolor="#d4d2c5" valign="top" style="background-position: 0% 45%;">
                        <table width="569" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" width="30">
                                    <table width="20" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="27"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table width="514" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="top">

                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="50" width="50"><a href="http://www.facebook.com/pages/Personal-Y%C3%B4ga-Trainer/157255344335372" target="_blank"><img style="border:0" src="images/facebook.png"></a></td>
                                                        <td height="50" width="50"><a target="_blank" target="_blank" href="http://www.twitter.com/nataliaja/"><img src="images/twitter.png" style="border:0"></td>
                                                        <td height="50" style="font-family: Georgia, 'Times New Roman', Times, serif; color: #757870;">Seguime en facebook y twitter</td>
                                                    </tr>
                                                </table>
                                                <!--/break-->
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                            <tr>
                                <td background="images/full-bg.jpg" bgcolor="#d4d2c5" width="348">
                                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; padding: 0; color: #de2d1d; font-size: 24px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="background-color: none;" bgcolor="" valign="top" width="15">&nbsp;</td>
                </tr>
            </table>
            <!--/content section-->
            <!--footer text -->
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="15"> </td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                        <p align="center" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px; margin: 0; padding: 0; color:#bcc1ae; font-weight: normal;">Si te parece interesante, te pedimos que reenvíes este email a un amigo. ¡Gracias! <br/>
                            No deseás recibir más esta divulgación? <a target="_blank" style="color: #bcc1ae; text-decoration: underline;" href="*|UNSUB|*">Hacé click acá.</a>
                        </p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/footer text-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>